# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Dump de la base
dump.sql.gz

# Qt project
build-*
relaidecourriel/relaidecourriel.pro.user*

# Paquets Debian
relaidecourriel_*.dsc
relaidecourriel_*.tar.xz
relaidecourriel_*_*.build
relaidecourriel_*_*.changes
relaidecourriel_*_*.deb
relaidecourriel-dbgsym_*_*.deb
